/*
  ! READ ONLY !
  Every diesdas game project has these additional reset styles.
  If you are missing important reset styles here, create a pull request in
  our game-template repository. Thank you!
*/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #efefef;
}
